* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 95%;
  font-size: 30px;
  color: #222;
  background-color: pink; /* #ffc0cb */
}
.main-title {
  font-family: 'Abril Fatface', serif;
  font-size: 1.25em;
  text-align: center;
}
.container {
  height: 100%;
  padding: 80px 120px 120px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animal {
  cursor: pointer;
  height: 160px;
  padding: 5px 10px 10px 10px;
  text-align: center;
  transition: 1.5s ease-out;
}

.animal.fergie {
  width: 180px;
  font-family: 'Sevillana', cursive;
}

.animal.bel {
  width: 170px;
  font-family: 'Rye', cursive;  font-size: 0.8em;
}

.animal.bun-bun {
  width: 160px;
  font-family: 'Trochut', cursive;
  font-weight: bold;
  font-size: 0.73em;
}

.animal > * {
  margin-bottom: 5px;
}

.name {
  transition: 1s ease;
}

.container.start-out-small .name {
  transform: scale(0.01);
  transform-origin: center top;
}

.alias {
  opacity: 0;
}

.animal.animated {
  background-color: #f4f4f4;
  border: 1px solid #555;
  transform: translateY(45px) scale(2) rotate(3turn);
  transform-origin: center center;
}

.animal.animated.fergie {
  text-align: left;
  background-image: url(images/fergie.png);
  background-position: 95% 70%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.animal.animated.bel {
  text-align: left;
  background-image: url(images/bel.png);
  background-position: 95% 20%;
  background-size: 25%;
  background-repeat: no-repeat;
}

.animal.animated.bun-bun {
  text-align: left;
  background-image: url(images/bun-bun.png);
  background-position: 95% 95%;
  background-size: 60%;
  background-repeat: no-repeat;
}

.animal.animated .name {
  font-size: 0.75em;
}

.animal.animated .alias {
  opacity: 1;
  font-size: 0.5em;
}

.animal.animated .alias.criminal {
  font-size: 0.6em;
  font-style: italic;
  transition: 0.6s 2.5s ease;
}
