* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 95%;
  font-size: 30px;
  color: #222;
  background-color: pink; /* #ffc0cb */
}
.main-title {
  font-family: 'Abril Fatface', serif;
  font-size: 1.25em;
  text-align: center;
  padding-top: 15px;
}
.container {
  height: 100%;
  padding: 80px 120px 120px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animal {
  cursor: pointer;
  height: 160px;
  padding: 5px 10px 10px 10px;
  text-align: center;
}

.animal.fergie {
  transition-property: height, transform, background-color, background-position, background-size;
  transition-duration: 4s, 4s, 4s, .4s, .4s;
  transition-delay: 0s, 0s, 0s, 3.8s, 3.8s;
  transition-timing-function: ease-out, ease-out, ease-out, ease, ease;
  background-position: 95% 90%;
  background-size: 0;
  width: 180px;
  font-family: 'Sevillana', cursive;
}

.animal.bel {
  transition-property: height, transform, background-color, background-position, background-size;
  transition-duration: 2.5s, 2.5s, 2.5s, .35s, .35s;
  transition-delay: 0s, 0s, 0s, 2.35s, 2.35s;
  transition-timing-function: ease-out, ease-out, ease-out, ease, ease;
  background-position: 92% 10%;
  background-size: 0;
  width: 170px;
  font-family: 'Rye', cursive;  font-size: 0.8em;
}

.animal.bun-bun {
  transition-property: height, transform, background-color, background-position, background-size;
  transition-duration: 5s, 5s, 5s, 1.9s, 1.9s;
  transition-delay: 0s, 0s, 0s, 5.45s, 5.45s;
  transition-timing-function: ease-out, ease-out, ease-out, steps(3, end), steps(3, end);
  background-position: 0% 95%;
  background-size: 0;
  width: 160px;
  font-family: 'Trochut', cursive;
  font-weight: bold;
  font-size: 0.73em;
}

.animal > * {
  margin-bottom: 5px;
}

.name {
  padding-bottom: 10px;
  transition: 1s ease;
}

.container.start-out-small .name {
  transform: scale(0.01);
  transform-origin: center top;
}

.alias {
  opacity: 0;
}

.alias.criminal {
  font-size: 1.5em;
}

.animal.animated {
  text-align: left;
  background-color: #f4f4f4;
  border: 1px solid #555;
  transform: translateY(45px) scale(2) rotate(3turn);
  transform-origin: center center;
}

.animal.animated.fergie {
  background-image: url(images/fergie.png);
  background-position: 95% 70%;
  background-size: 50%;
  background-repeat: no-repeat;
}

.animal.animated.bel {
  background-image: url(images/bel.png);
  background-position: 92% 50%;
  background-size: 27%;
  background-repeat: no-repeat;
}

.animal.animated.bun-bun {
  background-image: url(images/bun-bun.png);
  background-position: 95% 95%;
  background-size: 60%;
  background-repeat: no-repeat;
}

.animal.animated.fergie .name {
  font-size: 1em;
}

.animal.animated.bel .name {
  font-size: 0.9em;
}

.animal.animated.bun-bun .name {
  font-size: 0.75em;
}

.animal.animated .alias {
  opacity: 1;
  font-size: 0.5em;
}

.animal.animated .alias.criminal {
  font-size: 0.6em;
  font-style: italic;
  transition: 0.75s 7.25s ease;
}
